/* https://codepen.io/lauragrassig/pen/wvmVOXZ */

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  background-color: #f8b879;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.list::-webkit-scrollbar-thumb {
  background-color: #646464;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  max-height: 800px;

  margin: auto;
  margin-top: 5%;

  background-color: black;
  font-family: "Amatic SC";
  /* margin: auto;
  margin-top: 10%;
  margin-bottom: 0%; */
  /* padding: 1rem; */
  border-radius: 5px;
  box-shadow: 7px 9px 7px #00000052;
}
.container .leader {
  display: flex;
}
.container .crown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.container .crown svg {
  width: 3rem;
}
.container .image {
  height: 58px;
  width: 58px;

  object-fit: cover;
  background-color: black;
  border-radius: 50%;
}
.container .topLeadersList {
  display: flex;
  position: relative;
  min-height: 120px;
  padding-top: 3rem;
}
.container .topLeadersList .image {
  border-radius: 50%;
  border: 3px solid #ff8243;
}
.container .topLeadersList .leader:nth-child(1) {
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: -40%;
}
.container .topLeadersList .leader:nth-child(1):after {
  content: "1";
  width: 30px;
  height: 30px;
  background: #ffc500;
  border-radius: 50%;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(1) .image {
  width: 130px;
  height: 130px;
}
.container .topLeadersList .leader:nth-child(1) .crown {
  top: -20%;
}
.container .topLeadersList .leader:nth-child(1) .crown svg {
  fill: #ffc500;
}
.container .topLeadersList .leader:nth-child(2) {
  color: black;
  position: absolute;
  left: 10%;
  transform: translateX(-15%);
  bottom: -35%;
}
.container .topLeadersList .leader:nth-child(2):after {
  content: "2";
  width: 30px;
  height: 30px;
  background: #d4d4d4;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -5%;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(2) .image {
  width: 110px;
  height: 110px;
}
.container .topLeadersList .leader:nth-child(2) .crown {
  top: -25%;
}
.container .topLeadersList .leader:nth-child(2) .crown svg {
  fill: #d4d4d4;
}
.container .topLeadersList .leader:nth-child(3) {
  color: black;
  position: absolute;
  left: 90%;
  transform: translateX(-85%);
  bottom: -40%;
}
.container .topLeadersList .leader:nth-child(3):after {
  content: "3";
  width: 30px;
  height: 30px;
  background: #ab6528;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -5%;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(3) .image {
  width: 110px;
  height: 110px;
}
.container .topLeadersList .leader:nth-child(3) .crown {
  top: -25%;
}
.container .topLeadersList .leader:nth-child(3) .crown svg {
  fill: #ab6528;
}
.container .leaderName {
  position: absolute;
  text-align: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}
.container .player {
  /* player background dark*/
  background-color: #000;
  display: grid;
  grid-template-columns: 0.4fr 3fr 2fr 2fr 2fr;
  align-items: center;
  min-height: 42px;
  text-align: center;
  padding-right: 0.4rem;
}
.container .player .image {
  width: 28px;
  height: 28px;
  border: 1.5px solid white;
}
.container .table {
  margin-right: 0.1rem;
  display: grid;
  font-size: 14px;
  grid-template-columns: 0.4fr 3fr 2fr 2fr 2fr;
  text-align: center;
}
.container .table div:nth-child(2) {
  text-align: left;
  margin-left: 5px;
}
.container .table .image {
  max-width: 20px;
  max-height: 20px;
}
.container .playerslist {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 16px;
  overflow: hidden;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.container .playerslist .player:nth-child(odd) {
  background-color: #ff8243;
  align-items: center;
}
.container .user {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container .list {
  overflow: scroll;
  max-height: 32rem;
  overflow-x: hidden;
}

.player a {
  text-decoration: none;
  color: white;
}

.sortable {
  cursor: pointer;
}
