/* You can add global styles to this file, and also import other style files*/
html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
}

.material-icons { 
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  color: #fff;
  font-family: "Open Sans", sans-serif;

  background-color: #f8b878; /*#ff8243 Mango Tango*/
  background-image: url(../favicon.ico);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10% 15% ;
} 


